.ultimos_lancamentos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    color: #fff;
}

.novos_livros {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.novos_livros img {
    width: 200px;
    height: auto;
    padding: 20px;
    background-color: #808080;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
