.ultimos_lancamentos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.novos_livros {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.novos_livros img {
    width: 150px;
    height: auto;
}
