section {
    background-image: linear-gradient(90deg, #002F52 35%, #326589);
    color: #FFF;
    text-align: center;
    padding: 60px 0 120px 0; 
    width: 100%;
}

input {
    border: 1px solid #FFF;
    background: transparent;
    padding: 15px 20px;
    border-radius: 50px;
    width: 60%;
    max-width: 350px;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 20px;
}

.resultado-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.resultado-item img {
    width: 140px;
    height: auto;
    margin-top: 10px;
}
