.opcoesHeader {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    
}
.opcao{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    min-width: 120px;
    color: #326589;
    
}