.Header{ 
width: 100vw; 
height: 100vw; 
background-image: linear-gradient(90deg, #002F52 35%, #326589); 
}

.header-header{ 
background-color: #FFF; 
display: flex; 
justify-content: space-between; 
align-items: center; 
}

.opcoesHeader {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    color: #002F52;
    text-decoration: none; 
    font-weight: 700;
}

.opcao{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    min-width: 120px;
    color: #326589;
    
}

.iconesHeader{
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

.link{
    text-decoration: none;
    color: #002F52;
    
}