.App{
    width: 100vw;
    height: 100vw;
    background-image: linear-gradient(90deg, #002f52 35%, #326589);
}

.App-header{
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}