.App{
    width: 100vw;
    height: 100vw;
    background-image: linear-gradient(90deg, #b31c6f 35%, #FF8DA1);
}

.App-header{
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}